.nav-bar-link {
    color: rgb(184, 152, 13) !important;
    }
  
.nav-bar-brand {
color: rgb(184, 152, 13) !important;
    }

.main-nav-toggle {
color: rgb(184, 152, 13) !important;
border-color: #ffc107 !important;
border-top-color: rgb(255, 193, 7) !important;
border-right-color: rgb(255, 193, 7) !important;
border-bottom-color: rgb(255, 193, 7) !important;
border-left-color: rgb(255, 193, 7) !important;
    }

.main-nav-bar {
color: rgb(184, 152, 13) !important;
text-align: center;
background-color: black;
    }

.main-nav-logo {
    height: 55px;
    pointer-events: none;
    }

