@import "~rfs/scss";


// The font-size mixin is a shorthand which calls
// @include rfs(4rem, font-size);

// Other shorthand mixins that are available are:
// @include padding(4rem);
// @include padding-top(4rem);
// @include padding-right(4rem);
// @include padding-bottom(4rem);
// @include padding-left(4rem);
// @include margin(4rem);
// @include margin-top(4rem);
// @include margin-right(4rem);
// @include margin-bottom(4rem);
// @include margin-left(4rem);

// For properties which do not have a shorthand, the property can be passed:
// @include rfs(4rem, border-radius);

// Whenever a value contains a comma, it should be escaped with `#{}`:
// @include rfs(0 0 4rem red #{","} 0 0 5rem blue, box-shadow);

// Custom properties (css variables):
// @include rfs(4rem, --border-radius);

.page-title {
    @include font-size(5rem);
    @include margin-top(2rem);
    font-weight: 700;
    text-align: center;
    color: black;

  }

.article-title {
    @include font-size(3.2rem);
    @include margin-top(5rem);
    font-weight: 700;

}

.learn-more-button a {
    @include font-size(3rem);
    font-weight: 600;
    color:black;
    text-decoration: underline;
    font-weight: 700;
    
    &:hover {
        color:rgb(21, 40, 204);
        text-decoration: underline;
      }
}

.learn-more-button {
    @include margin-top(5rem);
    @include margin-bottom(3rem);
}


.main-nav-bar {
background-color: black !important;
    }

.main-nav-logo {
    height: 55px;
    pointer-events: none;
    @include margin-right(2.5rem);
    }

.main-nav-logo-small {
    height: 35px;
    pointer-events: none;
    }

.main-nav-link-button {
    @include font-size(1.1rem);
    @include padding-left(.75rem);
    @include padding-right(.75rem);
    color: rgb(184, 152, 13) !important;
    font-weight: 500;
    text-decoration: none;

    &:hover {
        color: rgb(255, 255, 255) !important;
        text-decoration: underline;
      }
}

.login-button {
    color: rgb(255, 255, 255) !important;
}

.nav-menu {
    background-color: black !important;
        }

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
    background-color: black !important;
}

.menu-icon-button {
    color: rgb(184, 152, 13) !important;
}



